<%= javascript_pack_tag 'chartkick' %>


<div class="container-global">
  <div class="card my-1">
    <div class="card-header m-0 p-0 container" id="heading">
      <div class='col-12 py-3 px-1'>
        <h3>NutriScore</h3>
      </div>
      <div class="col-12">
        <%= pie_chart(@nutriscores, width: "320px", height: "240px", colors: ['a': '#111', 'b': '#860', 'c': '#333', 'd': '#134', 'e': '#567']) %>
      </div>
      <div class="col-12 py-3 px-2">
        <p>The NutriScore is a logo that shows the nutritional quality of food products with A to E grades. With the NutriScore, products can be easily and quickly compared.</p>
      </div>
    </div>
  </div>
  <div class="card my-1">
    <div class="card-header m-0 p-0 container" id="heading">
      <div class='col-12 py-3 px-1'>
        <h3>NovaScore</h3>
      </div>
      <div class="col-12">
        <%= pie_chart(@novascores, width: "320px", height: "240px") %>
      </div>
      <div class="col-12 py-3 px-2">
        <p>Four categories of foods are proposed in the NOVA food classification, which seeks to relate food processing as the primary driver of diet quality. Of these, the category “ultra-processed foods” has been widely studied in relation both to diet quality and to risk factors for noncommunicable disease.</p>
      </div>
    </div>
  </div>

</div>


