
  <div class="px-3 py-2 mb-4 newheader ">
    <h1 class="text-center mb-0 pb-0 ">My informations</h1>
  </div>

<div class="container">


    <div class="card p-2">
      <div class=row>
        <div class="col-12">
          <h3> Username : </h3>
           <p class= "mb-1"> Thomas <%#= current_user.username %> </p>
        </div>
      </div>


      <div class=row>
        <div class="col-12">
          <h3> Family size : </h3>
         <p class= "mb-2">4</p>
        </div>
      </div>


      <div class=row>
        <div class="col-8">
          <h3> Children : </h3>
          <p class= "mb-2">2</p>
        </div>
      </div>

      <div class=row>
        <div class="col-8">
          <h3> City : </h3>
         <p class= "mb-2">Paris</p>
        </div>
      </div>

      <div class=row>
        <div class="col-8">
          <h3> Loyalty programs : </h3>
         <p class= "mb-2">Biocoop, Franprix, Monoprix</p>
        </div>
      </div>


      <button type="button" class="btn btn-light text-reset btn-sm btn-block mb-2 col-7 mx-auto" >
      <%= link_to "EDIT MY PASSWORD", edit_user_password_path %>
      </button>

      <button type="button" class="btn btn-light text-reset btn-sm btn-block mb-2 col-7 mx-auto" >
      <%= link_to "LOG OUT", destroy_user_session_path, method: :delete%>
      </button>



  </div>

</div>
