

<div class="container-global">

  <div class="row align-items-center m-3">
    <div class="card col-12">

      <div class="row">
        <div class="col-12">
          <h2 class="mt-2">My informations</h2>
        </div>
      </div>

      <div class=row>
        <div class="col-12">
          <h3> Username : </h3>
          <p class= "mb-1"> <%= current_user.email %> </p>
          <button type="button" class="btn btn-secondary btn-sm btn-block mb-2 col-7 mx-auto" >
          <%= link_to "EDIT MY PASSWORD", edit_user_password_path %>
          </button>
        </div>
      </div>


      <div class=row>
        <div class="col-12">
          <h3> Family size : </h3>
         <p class= "mb-2">4</p>
        </div>
      </div>


      <div class=row>
        <div class="col-8">
          <h3> Children : </h3>
          <p class= "mb-2">2</p>
        </div>
      </div>

      <div class=row>
        <div class="col-8">
          <h3> City : </h3>
         <p class= "mb-2">Paris</p>
        </div>
      </div>

      <div class=row>
        <div class="col-8">
          <h3> Loyalty programs : </h3>
         <p class= "mb-2">Monoprix</p>
        </div>
      </div>

    </div>
  </div>


    <div class="row align-items-center m-3">
      <div class="card col-12">
        <div class= "col-12">
          <h2 class= "mt-2">My baskets</h2>
        </div>
        <% current_user.orders.each do |order| %>
        <button type="button" class="btn btn-secondary btn-lg btn-block mb-3" >
        <%= link_to "#{order.purchase_date}", order_path(order) %>
        </button>
        <%end%>
      </div>
    </div>

</div>
