
<div class="row navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
  <%= image_tag "logowhite.png" %>
  <% end %>

</div>

<h2>C'est ici qu'on va display le profile du user </h2>
