// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #F4F4F4;
$dark-blue: #00151A;
$gray: rgb(60, 60, 60);
$blue: #01C4EE;
$green: #1FD3C4;




