// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #F4F4F4;
$dark-blue : #003641;
$gray: #C4C4C4;
$blue: #01C4EE;
$green: #1FD3C4;


