// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400,500,600|Montserrat:200,300,400,500,600&display=swap');

// Define fonts for body and headers
$body-font: "Montserrat", "sans-serif";
$headers-font: "Montserrat", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";




h1 {
  color: #fff;
  font-size: 18px !important;
  margin: auto !important;
  text-transform: uppercase;
}

.homepageh1 {
  color: #01C4EE;
  font-size: 36px !important;
  text-transform: uppercase;
}

h2 {
    font-size: 16px !important;
  // margin: auto !important;
    text-transform: uppercase;
}

h3 {
    font-size: 12px !important;
    margin: auto !important;
    text-transform: uppercase;
    // display: flex;
    // text-align: auto;
}

p {
  font-size: 12px !important;
  margin: auto !important;
  // text-transform: uppercase;
}

.ph1 {
    font-size: 16px !important;
    margin-bottom: 15px !important;
  // margin: auto !important;
    text-transform: uppercase;
}
