// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,300,400,500,600|Montserrat:200,300,400,500,600&display=swap');

// Define fonts for body and headers
$body-font: "Montserrat", "sans-serif";
$headers-font: "Montserrat", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";




h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px !important;
}

h3 {
  font-size: 14px !important;
}

p {
  font-size: 12px !important;

}
