.nutriscore-img {
  width: 100px;
  height: 40px;
}


.label-bio-img {
  width: 30px;
  height: 40px;
}

.label-fair-img {
  width: 30px;
  height: 35px;
}

.products-imgs {
  max-width: 100%;
  max-height: 150px;
  // border: 8px solid white;
  // box-shadow: -4px 4px 2px #2570bd42;
  // width: 90px;
  // height: 90px;
  // border: 8px solid white;
  // box-shadow: -4px 4px 2px #2570bd3b;
  // width: 120px;
  // height: 120px;
  // clip-path: polygon(0% 0%, 100% 0%,100% 100%,0% 100%);
  // transform: rotate(-7deg);
  // margin-left: -15px;
  // margin-top: 8px;
}

.card-header {
  display: flex;
  flex-direction: column;
}

.card-body p {
  margin: 0;
}

.recommended_products-imgs {
    max-width: 100%;
    max-height: 150px;
}

