<div class="footer">
  <%= link_to recommandations_path, class: "fas fa-magic" do %>
  <% end %>
  <%= link_to root_path, class: "fas fa-shopping-basket" do %>
  <% end %>
  <%= link_to root_path, class: "fas fa-chart-pie" do %>
  <% end %>
</div>
