<div class="footer">
  <%= link_to root_path, class: "fas fa-shopping-cart" do %>
  <% end %>
  <%= link_to root_path, class: "fas fa-home" do %>
  <% end %>
  <%= link_to root_path, class: "fas fa-chart-pie" do %>
  <% end %>
</div>
