<div class="footer-position">
  <%= link_to recommandations_path %>
  <input type="checkbox" id="switch" />
  <label for="switch"></label>
</div>





<!--


<div class="footer">
  <div class="footer-basket">
    <%#= link_to recommandations_path, class: "fas fa-magic" do %>
    <%# end %>
  </div>

  <div class="footer-sweep">


  </div>

  <div class="footer-magic">
    <%#= link_to lastbasket_path, class: "fas fa-shopping-basket" do %>
    <%# end %>
  </div>
</div>
 -->
