

<div class="container m-0 p-0">


  <div class="px-3 py-2 mb-4 newheader ">
    <h1 class="text-center mb-0 pb-0 ">All my baskets</h1>
  </div>


  <% if @orders != nil %>
  <% current_user.orders.each do |order| %>
  <div class="card mb-1" style="border: none;">
      <button type="button" class="btn btn-white btn-lg rounded-lg" style="border: none; text-align: left; background-color: white">
        <%= link_to "#{l(order.purchase_date, format: ' %A %e %B')}", order_path(order) %>
        <div class="row">
          <h2 class="col-6" style="text-align: left;"><%= order.order_items.count%> products</h2>
          <h2 class="col-6" style="text-align: right;">score: <%= order.total_score / 3%>/100</h2>

        </div>
      </button>
    </div>
</div>
<% end %>
<% end %>

