// .footer {
// position: absolute;
// left: -0.53%;
// right: 0.53%;
// top: 93.25%;
// bottom: 0%;
// border-radius: 40%;
// width: 30%;
// height: 10%;
// margin-bottom: 8%;
// background-color: rgba(220, 220, 220, 0.8);;
// display: flex;
// justify-content: center;
// padding: 10px 40px;
// font-size: 25px;
// align-items: center;
//   .fas {
//     color: rgba(150, 150, 150, 0.8);
//     text-decoration: none;
//   }
// }


.footer {
  background: white;
  // border-top: 2px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 0px 50px;
  color: #21D1B0;
  flex: 1;
  padding: 5px;
}
.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: #25dab8bf;
  opacity: 1;
  text-decoration: none;
  font-size: 40px;
  padding: 0px 20px;
  margin-right: 18px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-toggle {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 20px;
  border: solid 2px white;
  border-radius: 50%;
  font-size: 55px;
  padding: 18px;
  margin: 15px;
  background-color: #27debd;
  color: white;
}

.footer-toggle a:hover {

}









