// .footer {
// position: absolute;
// left: -0.53%;
// right: 0.53%;
// top: 93.25%;
// bottom: 0%;
// border-radius: 40%;
// width: 30%;
// height: 10%;
// margin-bottom: 8%;
// background-color: rgba(220, 220, 220, 0.8);;
// display: flex;
// justify-content: center;
// padding: 10px 40px;
// font-size: 25px;
// align-items: center;
//   .fas {
//     color: rgba(150, 150, 150, 0.8);
//     text-decoration: none;
//   }
// }


.footer {
  background: white;
  // border-top: 2px solid lightgray;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
  height: 55px;
  // padding: 0px 50px;
  color: #21D1B0;
  // flex: 1;
  padding: 5px;
}
.footer-links {
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-links a {
  color: #25dab8bf;
  opacity: 0.5;
  text-decoration: none;
  font-size: 30px;
  // padding: 0px 20px;
  // margin: 10px;
}
.footer-links .active {
  opacity: 1;
  color: #25dab8bf;
}

.footer-toggle {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  position: relative;
  bottom: 15px;
  // width: 100px;
  // bottom: 20px;
  border: solid 2px white;
  border-radius: 100px;
  font-size: 1.5em;
  padding: 10px;
  border: 5px solid white;
  // padding: 14px;
  // margin-bottom: 12px;
  background-color: #27debd;
  color: white;
  // margin: 0px !important;
}



.footer-left, .footer-right {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

// .toogle-position {
//   display: flex;
//   align-items: center;
//   justify-content: center;

// }

// .footer-toggle a:hover {

// }
// #magic-btn i: ; {
//   border-radius: 50%;
// }

#magic-btn.magic-gray i {
  background-color: rgba(200, 200, 200, 0.5) !important;
}





