.footer {
position: absolute;
left: -0.53%;
right: 0.53%;
top: 93.25%;
bottom: 0%;
background-color: rgba(200, 200, 200, 0.8);;
display: flex;
justify-content: space-between;
padding: 0px 40px;
font-size: 25px;
align-items: center;
  .fas {
    color: rgba(150, 150, 150, 0.8);
    text-decoration: none;
  }
}
