.navbar-lewagon {
  justify-content: space-evently;
  background: white;
  padding: 0px 15px;
  background-color: #28e0bed1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding-left: 0;
}

.tachometer {
  width: 50px;
  padding: 0px;
  margin: 10px;
  color: white;
  font-size: 38px;
  margin-left: 15px;
}

.navbar-light .navbar-toggler {
  border-radius: 50%;
  height: 46px;
}

.navbar h3 {

}


.navbar-brand {
  margin-right: 0;
}

.navbar-toggler-position {
  // padding: 0;
  // width: 17%;
  padding-right: 15px;
  padding-left: 15px;
}

