.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 0px 15px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-light .navbar-toggler {
  border-radius: 50%;
  height: 46px;
}
