.polar-height {
  min-height: 150px;
  margin-bottom: 5px;
}

.polar-size {
  width: 115px;
  height: 115px;
  position: relative;
  margin: auto;
}

.polar-size p {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  font-weight: bold;
  width: 40px;
  height: 40px;
}

.health-icon {
  transform: translate(31px, -44px);
  color: rgba(1, 196, 238, 1);
}

.env-icon {
  transform: translate(-20px, 58px);
  color: rgba(39, 222, 189, 1);
}

.social-icon {
  transform: translate(-75px, -44px);
  color: rgba(64, 135, 226, 1);
}
